.container{
    margin: 50px 0;
}
.card{
     margin: 2% !important;
     width: 300px;
     
}
.infected{
   border-bottom: 10px solid rgba(0,0,255,0.5); 
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) !important;
   color: #fff !important;
  
 
}
.recovered{
   border-bottom: 10px solid rgba(0, 255, 34, 0.5); 
   background: rgb(0,255,22);
background: linear-gradient(90deg, rgb(11, 240, 30) 0%, rgb(1, 192, 30) 41%, rgb(3, 151, 25) 84%);
color: #fff !important;


}
.deaths{
   border-bottom: 10px solid rgba(255, 0, 0, 0.5); 
   background: rgb(206, 0, 0);
   background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,0,0,1) 100%) !important;
   color: #fff !important;
}